@CHARSET "UTF-8";
body, html{
	width:100%;
	height:100%;
	margin:0;
}

#header{
	width:100%;
	height:10%;
	background-color: black;
}

#footer{
	width:100%;
	height:10%;
	background-color: black;
}
.subcontent{
	margin:auto;
	width:50%;
	height:100%;
	background-color: white;
}
@media only screen and (max-width: 500px) {
    .subcontent{
        width:800px;
    }
}

#content1{
	width:100%;
	height:80%;
	background-color:green;
	display: block;
}

#content2{
	width:100%;
	height:80%;
	background-color:red;
	display:none;
	
}

#content3{
	width:100%;
	height:80%;
	background-color:orange;
	display:none;
}

#content4{
	width:100%;
	height:80%;
	background-color:gray;
	display:none;
}