
#holder {
	height: 200px;
	background-color: #F5F5F5;
	margin:0 auto;
    transform: translate(0%, 0%);
}

#place {
	position: relative;
	marging:0 auto;
}

#place a {
	font-size: 0.6em;
}

#place li {
	position: absolute;
}

#place li:hover {
	background-color:green;
}

#place .seat {
/* 	background: url("images/vaba_laud.jpg"); */
	background-color:#625D5D;
	height: 34px;
	width: 34px;
	border:1px solid black;
	display: block;
}

#place .selectedSeat {
/* 	background-image: url("images/broneeritu_laud.jpg"); */
	background-color: red;
}

#place .selectingSeat {
/* 	background-image: url("images/valitud_laud.jpg"); */
	background-color: blue;
}


