@CHARSET "UTF-8";
body, html{
	width:100%;
	height:100%;
	margin:0;
}

#_header{
	width:100%;
	height:10%;
	background-color: black;
}

#_footer{
	width:100%;
	height:10%;
	background-color: black;
}
.subcontent{
	margin:auto;
	width:50%;
	height:100%;
	background-color: white;
}
@media only screen and (max-width: 500px) {
    .subcontent{
        width:800px;
    }
}

#_content1{
	width:100%;
	height:80%;
	background-color:green;
	display: block;
}

#_content2{
	width:100%;
	height:80%;
	background-color:red;
	display:none;
	
}

#_content3{
	width:100%;
	height:80%;
	background-color:orange;
	display:none;
}

#_content4{
	width:100%;
	height:80%;
	background-color:gray;
	display:none;
}

#_login_button{
	float:right;
}

#_register_button{
	float:right;
}

.menu_button{
	float:left;
}


#_buttons_menu{
	width:500px;
	
	
}












